// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body * {
    margin: 0;
    border: 0;
    padding: 0;

}
navbar {
    width: 100vw;
    text-align: left;
    padding: 1.25rem 4rem;
    position: fixed;

}
navbar ul {
    list-style: none;
}
navbar ul li {
    display: inline-block;
    margin: 0 1em;
    vertical-align: middle;
} 

.navbar-inverse{
    background: #000f08;
    color: black;

}
.navbar-inverse a {
    color: white;
    text-decoration: none;
}